[submodule "themes/canoe"]
	path = themes/canoe
	url = https://github.com/Chengyuan-artist/canoe.git
[submodule "themes/loveit"]
	path = themes/loveit
	url = https://github.com/Chengyuan-artist/LoveIt.git
[submodule "themes/hugo-theme-stack"]
	path = themes/hugo-theme-stack
	url = https://github.com/Chengyuan-artist/hugo-theme-stack.git
